@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #468492;
}
body, input.form-control {
    font-family: "Dekko";
    font-size: 28px;
}
div.todo-wrapper {
    font-size: 28px;
    background: #cff4fc;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 14px 28px, rgb(0 0 0 / 15%) 0px 10px 10px, #cff4fc 0px 10px, rgb(0 0 0 / 10%) 0px 14px 28px, rgb(0 0 0 / 15%) 0px 10px 10px, #cff4fc 0px 20px;
}

h1 {
    text-align: center;
    font-size: 75px;
    color: white;
    margin-top: 2rem;
}

// Buttons styles
button {
    border: none;
    background: none;
    color: #468492a4;
    float: right;

    &:active {
        transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
    }
}
.delete-button:active, .delete-button:hover{
    color: red;
}
.add-button:active, .add-button:hover {
    color: rgb(255, 255, 255);
}
.hide-button {
    visibility: hidden;
}

// List styles
ul.list-group, li.list-group-item {
    background: none;
    border-radius: 0;
    color: #315c64;
}
ul.list-group {
    border: none;
}
li.list-group-item {
    transition: 0.3s;
}
li.list-group-item, form{
    padding: 1rem 2rem 1rem 3rem;
}
li.li-highlighted {
    color: #44818b;
    background-color: #eefcff; 
    cursor: pointer;
}
li.todo-done {
    opacity: 0.3;
    background-color: #73878b;
    color: white;
    text-decoration: line-through;
}
ul.list-group, div.container-fluid {
    margin: 0;
    padding: 0;
}
small.li-counter {
    padding-left: 1rem;
}

// Form styles
input.form-control, input.form-control:active, input.form-control:focus {
    box-shadow: none;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}